In [1]:
 
from readrides_dict import read_rides_as_dict

In [2]:
rows = read_rides_as_dict('../Data/ctabus.csv')

In [4]:
rows[:5]

[{'route': '3', 'date': '01/01/2001', 'daytype': 'U', 'rides': 7354},
 {'route': '4', 'date': '01/01/2001', 'daytype': 'U', 'rides': 9288},
 {'route': '6', 'date': '01/01/2001', 'daytype': 'U', 'rides': 6048},
 {'route': '8', 'date': '01/01/2001', 'daytype': 'U', 'rides': 6309},
 {'route': '9', 'date': '01/01/2001', 'daytype': 'U', 'rides': 11207}]

In [5]:
# How many bus routes exist in Chicago?
# How many people rode the number 22 bus on February 2, 2011? What about any route on any date of your choosing?
# What is the total number of rides taken on each bus route?
# What five bus routes had the greatest ten-year increase in ridership from 2001 to 2011?

In [9]:
len({x['route'] for x in rows})
# 181 different routes exists

181

In [13]:
[x['rides'] for x in rows if x['date'] == '02/02/2011' and x['route'] == '22']
# 5055 - people rode the number 22 bus on February 2, 2011

[5055]

In [15]:
# What about any route on any date of your choosing?
[x['rides'] for x in rows if x['date'] == '01/02/2011' and x['route'] == '6']

[6097]

In [16]:
# What is the total number of rides taken on each bus route?
from collections import Counter

total_rides = Counter()

for x in rows:
    total_rides[x['route']] += x['rides']

In [19]:
# dir(total_rides)

In [25]:
# What five bus routes had the greatest ten-year increase in ridership from 2001 to 2011?

total_rides_2001 = Counter()

for x in rows:
    if x['date'].split('/')[-1] == '2001':
        total_rides_2001[x['route']] += x['rides']

In [26]:
total_rides_2011 = Counter()

for x in rows:
    if x['date'].split('/')[-1] == '2011':
        total_rides_2011[x['route']] += x['rides']

In [29]:
total_rides_diff = total_rides_2011 - total_rides_2001
total_rides_diff.most_common()[:5]

[('15', 2732209),
 ('147', 2107910),
 ('66', 1612958),
 ('12', 1612067),
 ('14', 1351308)]